





<button id="loginButton" data-target="loginModal"> see the login</button>















  <!-- Modal Structure -->
  <div id="loginModal" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <form>
        <input type="email" name="" placeholder="Email">
        <input type="password" name="" placeholder="Password">
      </form>
      <p>New? <button id="registerButton" data-target="registerModal" class="modal-action modal-close waves-effect waves-white btn-flat">Register</button></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
